@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url(font-300.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(font-400.ttf) format("truetype");
}

/*
     FILE ARCHIVED ON 05:12:56 Sep 16, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:02:16 Oct 03, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.089
  exclusion.robots: 0.04
  exclusion.robots.policy: 0.025
  esindex: 0.016
  cdx.remote: 16.022
  LoadShardBlock: 259.991 (6)
  PetaboxLoader3.datanode: 203.608 (7)
  load_resource: 233.68
  PetaboxLoader3.resolve: 211.22
*/
